* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {

    --bg-color: #151728;
    --white: #fff;
    --border-color: #272a3a;
    --title-font: "DM Sans", sans-serif;
    --body-font: "Source Sans Pro", sans-serif;
    --side-title: #5c5e6e;
    --button: #8f98a9;
    --red: #f95b55;
    --green: #01e777;
    --blue: #0091e9;
    --orange: #fda14c;
    --base: #f2f4f7;
    --grey: #363e47;
    --grey-accent: #303841;
    --light-grey: #3f4953;
    --text: #626c76;
    --text-accent: #ffffff;
    --icons: #c0c2c3;
    /* variables */
    --top-bar-height: 80px;
}


.list-unstyled {

    list-style: none;
    margin: 0;
    padding: 0;

}

/****************************************************************** BODY *******************************************************************/

body {

    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: var(--base);

}

.forum {
    height: 100vh;

}

/****************************************************************** CONTAINER *******************************************************************/

#container {

    width: 100%;
    position: relative;

}

/*======================================================================== SECTION CONNEXION ========================================================================================*/

/****************************************************************** HOME BIENVENUE *******************************************************************/

/********************************* Grid ***************************/

.grid2 {
    width: 100%;
    display: flex;
    padding: .5em 0 .5em 0;
}

/********************************* Grid Left ***************************/

.left {
    width: 55%;
}

.left-logo img {
    width: 100%;
}

/******************************** Grid Right *************************/

.right {
    width: 30%;
    margin: 2em 0;
    position: relative;
}

/****************** Title ******************/

.welcomeTitle {

    width: 100%;
    font-family: "Inter", sans-serif;
    text-align: left;
    display: flex;
    flex-direction: column;

}

.welcomeTitle h1 {

    width: 100%;
    color: white;
    font-weight: 900;
    font-size: 4em;
    margin: 0;

}

.welcomeTitle p {

    width: 80%;
    color: white;
    font-weight: 300;
    font-size: 1.5em;

}

.titleInscription {
    width: 100%;
    text-align: left;
}



.titleInscription h3 {

    width: 50%;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2.2em;
    color: white;
    margin-top: .5em;

}

.titleInscription h4 {

    width: 60%;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1.4em;
    margin-top: 2.5em;

}

/****************** S'inscrire avec Google ******************/

.btnInscription {

    width: 75%;
    height: 50px;
    background: white;
    border: none;
    border-radius: 25px;
    align-content: center;
    margin: 2em 0 .5em 0;

}

.btnInscription a {

    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #011A46;
    text-decoration: none;

}

.btnInscription:hover {
    background: #ececec;
}

/****************** Divider ******************/

.separation2 {
    width: 75%;
    position: relative;
    margin-top: 1em;
    text-align: center;
}

.separation2 span {
    font-size: 1em;
    color: white;
}

.divider5 {

    position: absolute;
    width: 45%;
    top: 50%;
    left: 0%;
    border-bottom: 1px solid white;

}

.divider6 {

    position: absolute;
    width: 45%;
    top: 50%;
    right: 0%;
    border-bottom: 1px solid white;

}

/****************** Button Sign in / Login ******************/

.formInscription {
    width: 100%;
}

.submit2 {

    width: 75%;
    height: 50px;
    background: rgb(10, 44, 193);
    border: none;
    border-radius: 25px;
    align-content: center;
    margin-top: 1.5em;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: white;
    text-decoration: none;

}

.submit3 {

    width: 75%;
    height: 50px;
    background: none;
    border: 1px solid white;
    border-radius: 25px;
    align-content: center;
    margin-top: 1.5em;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: white;
    text-decoration: none;

}

.submit2:hover {
    background: rgb(3, 25, 216);
    cursor: pointer;
}

.submit3:hover {

    background: rgba(116, 212, 253, 1);
    color: #151C27;
    border: none;
    cursor: pointer;
}

/****************** Modal ******************/

.uk-modal-dialog {
    top: 13.5%;
    border-radius: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, .1);
}

.close-close {

    position: absolute;
    top: .5%;
    right: 2%;
    font-size: 1.5em;
    color: #151C27;

}

/****************************************************************** Footer *******************************************************************/

footer {

    border-top: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 80px;

}

.footer {
    width: 50%;
    height: 100%;
    align-content: center;
}

.footer a,
small {
    color: white;
    font-size: 1em;
    margin: 0 .5em;
}

.footer a:hover {
    color: none;
}

/****************************************************************** BODY REGISTER/LOGIN *******************************************************************/

.connexion {

    height: 100vh;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    background-color: #011A46;

}

/****************************************************************** REGISTER *******************************************************************/

/****************** Register Content ******************/

.modalContent {

    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

/********************* FormBox *********************/

.formBox {

    width: 100%;

}

/********************* Title *********************/

.title {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {

    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #011A46;

}

/********************* Corner Border ********************/

#content {

    width: 65%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

#content h1 {

    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #011A46;

}

#content:after,
#content>:first-child:after {

    width: 40px;
    height: 30px;
    position: absolute;
    content: ' ';
    border-color: #011A46;
    border-style: solid;

}

#content:after {

    top: -15%;
    right: 0;
    border-width: 4px 4px 0 0;

}

#content>:first-child:after {

    bottom: 15%;
    left: 0;
    border-width: 0 0 4px 4px;

}

/******************** Formulaire *******************/

form.formulaire {

    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;

}

.input {

    width: 80%;
    height: 55px;
    background: none;
    color: #011A46;
    border: 1px solid #011A46;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 1em 4em;
    margin-top: 1em;

}

.checkbox {

    margin-top: 1em;
    font-family: "Inter", sans-serif;
    font-size: .9em;
    font-weight: 350;
    color: #011A46;

}

.input:focus {
    outline: none;
    border-color: rgba(116, 212, 253, 1);
    box-shadow: 0 0 10px rgba(116, 212, 253, 1);
}

input::placeholder {
    color: #011A46;
    opacity: .5em;
}

.submit {

    width: 80%;
    height: 50px;
    background: rgba(10, 77, 193, 1);
    color: white;
    border: none;
    border-radius: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    text-align: center;
    margin-top: 1.5em;

}

.submit:hover {

    background: rgb(10, 44, 193);
    cursor: pointer;

}

/******************** Icone *********************/

.user {

    position: absolute;
    left: 12%;
    top: 8.8%;
    color: rgba(10, 77, 193, 1);

}

.envelope {

    position: absolute;
    left: 12%;
    top: 26.8%;
    color: rgba(10, 77, 193, 1);

}

.fa-unlock {

    position: absolute;
    left: 12%;
    top: 44%;
    color: rgba(10, 77, 193, 1);

}

.fa-lock {

    position: absolute;
    left: 12%;
    top: 61.8%;
    color: rgba(10, 77, 193, 1);

}

/****************** Inscrivez-vous/Se connecter *****************/

.connecter {

    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 2em;

}

.connecter p {
    color: #011A46;
}

.connecter a {

    color: rgba(116, 212, 253, 1);
    font-weight: 700;
    text-decoration: none;

}

.connecter a:hover {
    color: rgba(10, 77, 193, 1);
}

/***************************************************************** LOGIN **************************************************************************/

/******************* FormBox *********************/

.formBox2 {

    width: 100%;

}

/********************** Se Connecter à Google *********************/

.forget {

    width: 80%;
    height: 50px;
    background: rgba(116, 212, 253, 1);
    border: none;
    border-radius: 25px;
    align-content: center;
    margin-top: 2.5em;

}

.forget:hover {

    background: rgb(72, 200, 255);
}

.googleConnect {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.googleConnect img {
    width: 20px;
    height: 20px;
}

.forget a {

    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #011A46;
    text-decoration: none;

}

/********************** Divider ********************/

.separation {
    position: relative;
    margin-top: 1em;
}

.separation span {
    font-size: 1em;
    color: #011A46;
}

.divider3 {

    position: absolute;
    width: 35%;
    top: 50%;
    left: 10.5%;
    border-bottom: 1px solid #011A46;

}

.divider4 {

    position: absolute;
    width: 35%;
    top: 50%;
    right: 10.5%;
    border-bottom: 1px solid #011A46;

}

/*********** Formulaire ***********/

form.formulaire2 {

    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input2 {

    width: 80%;
    height: 55px;
    background: none;
    color: #151C27;
    border: 1px solid #011A46;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    padding: 1em 4em;
    margin-top: 1em;

}

.input2:focus {

    outline: none;
    border-color: rgba(116, 212, 253, 1);
    box-shadow: 0 0 10px rgba(116, 212, 253, 1);

}



/*********** Mot de passe oublié ***********/

.forget2 {

    width: 80%;
    height: 50px;
    background: #011A46;
    border: none;
    border-radius: 25px;
    align-content: center;
    margin-top: 1.5em;

}

.forget2:hover {

    background: #151C27;
    cursor: pointer;

}

.forget2 a {

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: white;
    text-decoration: none;

}

/*============================================================================== LAYOUT ==============================================================================================*/

/***************************************************************** NAVBAR **************************************************************************/

/*********** D-Flex ***********/

.d-flex {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*********** Header  ***********/

.header {

    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(90deg, rgba(116, 212, 253, 1) 0%, rgba(10, 77, 193, 1) 100%);
    padding: 1em 2em;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, .1);

}

/*********** Logo ***********/

.logoPage {
    width: 15%;
    margin-left: 1em;
}

/*********** Menu ***********/

.center {
    width: 50%;
}

.scroller {
    text-align: center;
}

.menu {

    width: 90%;
    display: inline-flex;
    justify-content: space-between;

}

.menu i {

    font-size: 1.1em;
    color: #000;
    padding-right: 1em;

}

.menu a {

    color: #000;
    text-decoration: none;
    font-weight: 600;


}

.menuList {

    width: 18%;
    display: flex;
    text-align: center;
    align-items: center;

}

.menu:hover {
    color: #FFF;
}

/*********** Menu Burger ***********/

.header .burgerList {

    font-size: 2rem;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: right;
    width: 15%;
    padding-right: .8em;

}

.burger {

    background: none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;

}

.burger .bar {

    display: block;
    width: 22px;
    height: 3px;
    background: #000;

}

.burger .bar::before,
.burger .bar::after {

    display: block;
    content: "";
    width: 22px;
    height: 3px;
    background: #000;
    position: absolute;

}

.burger .bar::before {
    transform: translateY(-8px);
}

.burger .bar::after {
    transform: translateY(8px);
}

/*********** Show Nav Menu Burger ***********/

nav {

    position: fixed;
    top: 80px;
    right: 0;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    height: calc(10vh - 10px);
    background-color: rgb(255, 255, 255);

    transition: all .6s ease-out;

}

.show-nav nav {

    width: 8%;
    height: 10%;
    right: .5%;
    z-index: 2;
    opacity: 1;

}

.show-nav nav a:hover {

    transform: scale(1.1);
    text-decoration: none;

}

.show-nav .burger .bar {
    width: 0;
}

.burger .bar::before,
.burger .bar::after {
    transition: all .2s ease-out;
}

.show-nav .burger .bar::before {
    transform: rotate(-45deg);
}

.show-nav .burger .bar::after {
    transform: rotate(45deg);
}

/*============================================================================== SECTION ACCUEIL ====================================================================================*/

/*********** container ***********/

.grid {
    width: 100%;
    display: flex;
    padding-top: 2em;
}

.container-home {
    background: var(--base);
    display: flex;
    width: 100%;
    height: 93vh;
    overflow: hidden;
    margin: 0 auto;
}

/***************************************************************** NAV **************************************************************************/

/*********** Nav Menu ***********/

.left-side-home {
    width: 21%;
    display: flex;
    flex-direction: column;
    transition: 0.3s;

}

/*********** List Nav ***********/

.listNav {

    width: 109%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.side-wrapper-home { padding: 30px 30px 17px 30px;}

.side-wrapper-home:hover { border-right: 5px solid #d0d0d0ae;}

.listNav a:hover { text-decoration: none;}



/*********** List Content ***********/

.listContent { width: 100%;height: 50px;align-content: center;}

.listContent span {

    width: 90%;
    font-weight: 500;
    font-size: 1.2em;
    color: #151C27;
    justify-content: center;
    padding-left: .8em;

}

.listContent i {

    width: 10%;
    height: 100%;
    font-size: 1.5em;
    color: rgba(10, 77, 193, 1);
    border-left: none;
    margin-left: .5em;
    align-content: center;
    
}

.status-img-nav {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.listContent:hover { background-color: #d0d0d0ae;border-radius: 5px;cursor: pointer; }

.footerHome { padding-left: .8em ;}

.footerHome a{color:var(--text);}

.footerHome a:hover{ color:var(--text);text-decoration: underline;}

.footerHome small{ color:var(--text);}

/*********** Nav Divider ***********/

.divider {

    width: 94%;
    border-bottom: 1px solid #918e8e;
    margin-left: .8em;
    list-style: none;

}

/***************************************************************** PUBLICATIONS **************************************************************************/

/*********** Publication ***********/

.main {flex-grow: 1;display: flex;flex-direction: column;background-color: none;width: 50%;}

.main-container-home {width: 75%;flex-grow: 1;overflow: auto;background-color: var(--base);}

.timeline-home { display: flex;position: relative;z-index: 2;}

.timeline-center { flex-grow: 1;justify-items: center;width: 70%;}

.box-box {

    background-color: rgba(255, 255, 255, 0.782);
    border-radius: 15px;
    width: 65%;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, .1);
    margin-top: 40px;
    
}

.status { height: 150px;padding: 1em;}

/*********** Publication Content ***********/

.publicationContent {

    width: 60%;
    height: 135px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, .1);
    padding: 1em 1em;

}

/*********** Publication Liste ***********/

.publicationList {

    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 2%;
    
}

/*********** Write Someting ***********/

.writeSomething {

    width: 93%;
    height: 40px;
    padding: 0 1em;
    background: var(--base);
    color: #918e8e;
    border-radius: 30px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: justify;
    cursor: pointer;
    align-items: center;

}

.writeSomething:hover { background: #eaeaea;}

/*********** Publication Divider ***********/

.divider2 { border-bottom: 1px solid #b7b7b7;padding-top: 1em;width: 100%;}

/*********** Publication Icone ***********/

.publicationIcone {

    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.icone {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    gap: 10px;
    color: #151C27;
    font-weight: 500;

}

.icone i {font-size: 1.3em;}

.icone a {color: #151C27;}

/*********** Modal Ajouter Publication ***********/

.modal-Form input {width: 100%;max-height: 150px;}

/*********** Fil d'Actualité ***********/

.status-main-home{width: 100%;display: flex;align-items: center;justify-content: space-between;padding: 1em 1em 0 1em;}

.album-home{position: relative;}

.home-option{width: 8%;display: flex;justify-content: space-between;}

.home-option span{font-size: 1.5em;color: #151C27;}

.home-close{font-size: 1.8em;color: #151C27;}

.album-detail-home {width: calc(100% - 130px);display: flex;flex-direction: column;color: #151C27;}

.album-title-home a{color: #151C27;font-size: 1.1em;font-weight: 550;}

.album-title-home a:hover{color: #151C27;}

.album-date-home{font-size: .9em;font-weight: 400;}

.album-content-home{width: 100%;}

.album-content-home p{padding: .5em 1em .5em 1em; color: #151C27;margin: 0;}

.album-photos-home {width: 100%}

.album-photo-home {width: 100%;object-fit: cover;object-position: center;}

.album-actions-home{height: 90px;padding: 0 1em 0 1em;justify-items: center;align-content: center;}

.action-reaction{display: flex;width: 100%;justify-content: space-between;color: #151C27;font-weight: 400;}

.action-reactions{display: flex;width: 90%;padding-top: .5em;justify-content: space-between;}

.action-reactions a{font-size: 1em;color: #151C27;}

.action-reactions i{font-size: 1.2em;padding-right: 10px;}

.divider-home{border-bottom: 1px solid #b7b7b7;padding-top: .5em;width: 100%;}

.options-btn {background: none;border: none;cursor: pointer;font-size: 1em;}

.options-menu {display: none;position: absolute;top: 70px;right: 65px;background-color: var(--white);box-shadow: 0 7px 25px rgba(0, 0, 0, .5);border-radius: 5px;z-index: 10;width: 300px;}

.options-menu .arrow {position: absolute;top: -18px; right: 0; width: 0;height: 0;border-left: 20px solid transparent;border-bottom:20px solid var(--white); }

.options-menu ul {list-style: none;margin: 0;padding: 0;}

.options-menu ul li {padding: 10px 15px 10px 15px;}

.options-menu ul li span{align-content: center;color: #151C27;}

.options-menu ul li a {text-decoration: none;color: #151C27;display: flex;gap: 10px;align-content: center;}

.options-menu ul li:hover {background-color: #f0f0f0; border-radius: 5px;}

/***************************************************************** CARDS **************************************************************************/

/*********** Card ***********/

#card {width: 20%;position: absolute;position: fixed;top: 11%;right: 0;display: flex;flex-direction: column;align-items: center;gap: 30px;}

/*********** Sujets Récent ***********/

.card1 {width: 90%;height: 250px;background-color: white;border-radius: 15px;box-shadow: 0px 7px 7px rgba(0, 0, 0, .1);padding: .5em 2em;}

h2 {font-family: "Inter", sans-serif;font-weight: 600;font-size: 1.5em;text-align: justify;color: #151C27;}

/*********** Amis en Ligne ***********/

.card2 {width: 90%;min-height: 350px;background: linear-gradient(0deg, rgba(1, 26, 70, 1) 0%, rgba(10, 77, 193, 1) 100%);border-radius: 15px;box-shadow: 0px 7px 7px rgba(0, 0, 0, .1);padding: .5em 2em;}

.card2 h2 {color: white;}

/***************************************************************** EVENTS *********************************************************************/

.left-side-content {width: 21%;}

.left-side-event {width: 99%;display: flex;flex-direction: column;transition: 0.3s;flex-shrink: 0;box-shadow: 0px 7px 7px rgba(0, 0, 0, .1);background-color: rgba(255, 255, 255, 0.782);}

.newEvent {background-color: #0A4DC1;border: none;color: white;border-radius: 5px;width: 90%;height: 40px;cursor: pointer;text-align: center;align-items: center;justify-content: center;gap: 10px;display: flex;text-decoration: none;}

.newEvent:hover {background-color: rgb(10, 44, 193);color: white;text-decoration: none;}

.listNavEvent {height: 88vh;display: flex;flex-direction: column;justify-content: space-between;}

.navEvent{width: 108.7%; display: flex;flex-direction: column;gap: 20px;}

.timeline-event { position: relative;z-index: 2;padding: 40px;}

.timeline-center-event {border: 1px solid #d0d0d0ae; border-radius: 15px;width: 100% ;min-height: 50px; padding: 1em 2em 2em 2em;background-color: rgba(255, 255, 255, 0.782);}

.timeline-center-event h3{font-weight: 700;font-size: 1.7em;color: #151C27;}

.status-event{ display: flex;flex-wrap: wrap; margin-top: 20px;width: 100%;gap: 18px;}

.status-content{height: 350px;background-color: rgba(255, 255, 255, 0.782);border-radius: 15px;width: 24%;box-shadow: 0px 7px 7px rgba(0, 0, 0, .1);}

.eventPhoto{position: relative;width: 100%;height: 150px;}

.eventPhoto img{width: 100%;height: 100%;object-fit: cover;border-top-left-radius: 15px;border-top-right-radius: 15px;}

.eventList {width: 100%;height: 130px;padding: .5em 1em .5em 1em;}

.eventList p {width: 100%;margin: 0;}

.eventDate{font-weight: 600; color: #151C27; font-size: .8em;}

.eventTitle{font-weight: 600; color: #151C27;font-size: 1em;}

.eventSide{font-weight: 500;font-size: .9em;}

.eventButton{ height: 50px;padding: 1em 1em .5em 1em;}

.eventBtn{width: 100%;display: flex;justify-content: space-between;}

.btnInteresse{width: 80%;height: 40px; display: flex; justify-content: center;align-items: center;border-radius: 5px;border: none;font-size: 1em;font-weight: 550; gap: 10px; color: #151C27; font-family: "Inter", sans-serif;background-color: var(--base);}

.btnInteresse i{height: 40px;align-content: center;font-size: 1.1em;}

.btnShareEvent{width: 15%;height: 40px;justify-content: center;align-items: center;border-radius: 5px;border: none;background-color: var(--base);}

.btnShareEvent i{height: 40px;align-content: center;font-size: 1.5em;}

.btnInteresse:hover{cursor: pointer; background-color: #eaeaea;}

.btnShareEvent:hover{cursor: pointer; background-color: #eaeaea;}

.options-btn-event {background: rgba(0, 0, 0, .7);width: 35px;height: 35px;border-radius: 50px;border: none;cursor: pointer;position: absolute;top: 10px; right: 10px;}

.options-btn-event span {align-content: center;text-align: center;width: 100%;height: 100%;color: white;font-size: 1em;}

.options-menu-event {display: none;position: absolute;top: 50px;right: 25px;background-color: var(--white);box-shadow: 0 7px 25px rgba(0, 0, 0, .5);border-radius: 5px;z-index: 10;width: 278px;}

.options-menu-event ul {list-style: none;margin: 0;padding: 0;}

.options-menu-event ul li {padding: 10px 15px 10px 15px;}

.options-menu-event ul li span{align-content: center;color: #151C27;}

.options-menu-event ul li a {text-decoration: none;color: #151C27;display: flex;gap: 10px;align-content: center;}

.options-menu-event ul li:hover {background-color: #f0f0f0; border-radius: 5px;}

/***************************************************************** ENREGISTREMENT *********************************************************************/

.timeline-favorites{width: 100%;justify-items: center;padding: 40px;}

.timeline-center-favorites{border: 1px solid #d0d0d0ae; border-radius: 15px;width: 80% ;min-height: 50px; padding: 1em 1em 1em 1em;background-color: rgba(255, 255, 255, 0.782);margin-top: 1em;}

.favoritesTitle{width: 80%;text-align: left;}

.favoritesTitle h3{font-weight: 700;font-size: 1.7em;color: #151C27;width: 80%;}

.favoritesStatus{width: 100%;height: 220px; display: flex;gap: 20px;position: relative;}

.favoritesPhoto{width: 20%;}

.favoritesPhoto img{width: 100%;height: 100%; object-fit: cover;border-radius: 15px;}

.favoritesList{width: 77.5%;display: flex;flex-direction: column;justify-content: space-between;}

.favotitesInfo{height: 130px;width: 100%;}

.favotitesInfo h4{font-size: 1.5em;font-weight: 500;margin: 0;height: 70px;text-align: justify;}

.favoritesDescriptions{display: flex;width:100%;align-items: center;gap: 10px;height: 50px;}

.favoritesDescriptions p{color: var(--text);}

.favoritesDescriptions strong{color: #151C27;}

.favoritesDescriptions a:hover{color: #151C27;}

.favoritesButton{display: flex;width:100%;height: 50px;gap: 20px;}

.btnSharefavorites{width: 8%;height: 40px;border: none; border-radius: 5px;background-color: var(--base);box-shadow: 0px 3px 3px rgba(0, 0, 0, .1);}

.btnSharefavorites i{font-size: 1.5em;color: #151C27;}

.options-btn-favorites{width: 8%;height: 40px;border: none; border-radius: 5px; background-color: var(--base);box-shadow: 0px 3px 3px rgba(0, 0, 0, .1);}

.btnSharefavorites:hover{background-color: #eaeaea;cursor: pointer;}

.options-btn-favorites:hover{background-color: #eaeaea;cursor: pointer;}

.options-menu-favorites {display: none;position: absolute;top: 235px;right: 40%;background-color: var(--white);box-shadow: 0 7px 25px rgba(0, 0, 0, .5);border-radius: 5px;z-index: 10;width: 300px;}

.options-menu-favorites .arrow {position: absolute;top: -18px; left: 0; width: 0;height: 0;border-right: 20px solid transparent;border-bottom:20px solid var(--white);z-index: 0;}

.options-menu-favorites ul {list-style: none;margin: 0;padding: 0;}

.options-menu-favorites ul li {padding: 10px 15px 10px 15px;}

.options-menu-favorites ul li span{align-content: center;color: #151C27;}

.options-menu-favorites ul li a {text-decoration: none;color: #151C27;display: flex;gap: 10px;align-content: center;}

.options-menu-favorites ul li:hover {background-color: #f0f0f0; border-radius: 5px;}

/************************************************************************ PROFIL **************************************************************/

.main-profil {flex-grow: 1;display: flex;flex-direction: column;background-color: none;width: 79%;}

.side-wrapper { padding: 30px;}

.main-container { width: 100%;padding: 0 10px 0 20px;overflow: auto;background-color: var(--base);justify-items: center;}

.profile {position: relative;height: 40vh;width: 90%;height: 350px;z-index: 1;}

.profile-cover {width: 100%;height: 100%;object-fit: cover;object-position: bottom;border-radius: 0 0 15px 15px;}

.profile:before {content: "";width: 100%;height: 100%;position: absolute;z-index: -1;left: 0;top: 0;background-image: url("https://static.vecteezy.com/ti/foto-gratuito/p1/37236783-ai-generato-beautuful-sportivo-sfondo-con-copia-spazio-gratuito-foto.jpg");background-repeat: no-repeat;background-size: cover;background-position: top;filter: blur(50px);opacity: 0.3;}

.profile-avatar {position: absolute;align-items: center;display: flex;z-index: 1;bottom: 16px;left: 24px;}

.profile-avatar a{position: absolute;right: 39%;bottom: 30%;width: 35px;height: 35px; background-color: var(--base);border-radius: 50%;text-align: center;align-content: center;}

.profile-avatar a:hover{background: var(--icons);}

.fa-camera::before{width: 100%;height: 100%;color: #151C27;font-size: 1.2em;margin: .2em 0 0 .1em;}

.profile-img {width: 150px;height: 150px;border-radius: 50%;object-fit: cover;border: 5px solid var(--white);}

.profile-name {margin-left: 24px;margin-bottom: 60px;font-size: 30px;color: #fff;font-weight: 600;}

.profile-menu {align-items: center; position: absolute;bottom: -0.5px;padding-left: 200px;padding-right: 40px; background: var(--white);width: 100%;height: 80px;display: flex;border-radius: 0 0 15px 15px;box-shadow: 0 3px 3px rgba(0, 0, 0, .1);justify-content: space-between;}

.followers{height: 100%;display: flex;align-items: center;gap: 10px;color: #151C27;font-weight: 600;}

.profile-menu-btn{height: 60%;align-items: center;display: flex;width: 15%;background: var(--base);justify-content: center;gap: 5px;border-radius: 5px; color: #151C27;font-weight: 600;box-shadow: 0 1px 1px rgba(0, 0, 0, .1);}

.profile-menu-btn:hover{background: #151C27;color: var(--white);text-decoration: none;}

.profile-menu-suivi{height: 60%;align-items: center;display: flex;width: 12%;background: var(--base);justify-content: center;gap: 5px;border-radius: 5px; color: #151C27;font-weight: 600;box-shadow: 0 1px 1px rgba(0, 0, 0, .1);}

.profile-menu-suivi:hover{background: #151C27;color: var(--white);text-decoration: none;}

.profile-menu-suivre{height: 60%;align-items: center;display: flex;width: 12%;background: #0A4DC1;justify-content: center;gap: 5px;border-radius: 5px; color: var(--white);font-weight: 600;box-shadow: 0 0 20px #0A4DC1;}

.profile-menu-suivre:hover{background: rgb(3, 25, 216);color: var(--white);text-decoration: none;}

.timeline {display: flex;padding-top: 25px;width: 90%;position: relative;z-index: 2;}

.timeline-left { width: 310px;}

.timeline-right { flex-grow: 1;padding-left: 20px;}

.box { background-color: rgb(255, 255, 255);border-radius: 15px;box-shadow: 0 7px 7px rgba(0, 0, 0, .1);}

.intro { padding: 20px;}

.intro-title {color: #151C27;font-weight: 600;font-size: 18px;display: flex;align-items: center;margin-bottom: 20px;}

.intro-title-friend{color: #151C27;}

.info {font-size: 15px;}

.info-item {display: flex;color: #151C27;margin-top: 18px;align-items: center;}

.info-item a {margin-left: 6px;text-decoration: none;font-weight: 500;}

.info-item span {width: 20px;margin-right: 5px;}

.event {position: relative;margin-top: 20px;height: 350px;}

.noEvent{margin: 0;text-align: center; width: 100%;align-content: center;height: 100%;color: #151C27;font-weight: 600;font-size: 18px;padding: 15px;}

#left-arrow{top: 22% !important; background: none !important;} 

#left-arrow:hover{color: #74D4FD !important;} 

#right-arrow{top: 22% !important; background: none !important;} 

#right-arrow:hover{color: #74D4FD !important;} 

.pages {margin-top: 20px;padding: 20px;display: flex;flex-direction: column;}

.profilFriends{display: flex;width: 100%;align-items: center;gap: 10px;color: #151C27;font-size: 1.2em;height: 45px;margin-bottom: 20px;}

.profilFriends a:hover{color: #151C27;}

.status-img {width: 45px;height: 45px;object-fit: cover;border-radius: 50%;}

::-webkit-scrollbar {width: 10px;border-radius: 10px;}

::-webkit-scrollbar-thumb {background: var(--icons);border-radius: 10px;}

.box-publication {background-color: rgba(255, 255, 255, 0.782);border-radius: 15px;width: 100%;box-shadow: 0px 7px 7px rgba(0, 0, 0, .1);margin-bottom: 20px;}

.options-menu-profil {display: none;position: absolute;top: 50px;right: 15px;background-color: var(--white);box-shadow: 0 7px 25px rgba(0, 0, 0, .5);border-radius: 5px;z-index: 10;width: 278px;}

.options-menu-profil ul {list-style: none;margin: 0;padding: 0;}

.options-menu-profil ul li {padding: 10px 15px 10px 15px;}

.options-menu-profil ul li span{align-content: center;color: #151C27;}

.options-menu-profil ul li a {text-decoration: none;color: #151C27;display: flex;gap: 10px;align-content: center;}

.options-menu-profil ul li:hover {background-color: #f0f0f0; border-radius: 5px;}

/***************************************************************** MESSAGEIRE **************************************************************************/
.grid3 {
    width: 100%;
    height: 93vh;
    display: flex;
}

.messagerie_container {

    box-shadow: 7px 7px 7px rgba(0, 0, 0, .1);

    width: 70%;
    height: 90%;
    display: flex;
    margin: 2.7em 0 0 10em;
    border-radius: 25px;


}

.message_content {

    width: 40%;
    height: 100%;
    background: white;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;

}

.message_profil {

    width: 100%;
    height: 17%;
    background: linear-gradient(90deg, rgba(116, 212, 253, 1) 0%, rgba(10, 77, 193, 1));
    border-top-left-radius: 25px;

}

.message_search {

    width: 100%;
    height: 5%;
    background: #0a4dc1;

}

.message_search form {

    width: 80%;
    text-align: center;
}

.message_content2 {

    width: 60%;
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

.message_contact {

    background: white;
    width: 100%;
    height: 60px;
    border-top-right-radius: 25px;
}

.message_discussion {

    width: 100%;
    height: 560px;
    background: #f6f6f6;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/*===================================================================== FORUM ===========================================================================*/

/***************************************************************** CATEGORY **************************************************************************/

/*********** CATEGORIE TITLE ***********/
.categoryContent {

    width: 100%;
    min-height: 90vh;
    padding: 2em 5em;

}

.categoryTitle {

    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

.underTitle {

    display: flex;
    width: 20%;
    height: 35px;
    justify-content: space-between;

}

.populaire {

    width: 38%;
    font-weight: 700;
    color: #151C27;
    align-content: center;

}

.categories {

    width: 42%;
    font-weight: 700;
    color: #151C27;
    align-content: center;

}

.populaire:hover {

    border-bottom: 4px solid #74D4FD;
    cursor: pointer;

}

.categories:hover {

    border-bottom: 4px solid #74D4FD;
    cursor: pointer;

}

.addTopic {
    
    width: 20%;
    justify-items: right;
    height: 50px;
    align-content: center;
    
}

.btnCategorie {

    padding: .8em 1.2em;
    border: none;
    border-radius: 5px;
    background: #0A4DC1;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}

.btnCategorie i{
    
    font-size: 1.5em;
    align-items: center;
    padding-right: .2em;

}

.btnCategorie:hover {

    cursor: pointer;
    background: #011A46;


}


/*********** CARD CATEGORY ***********/
.cardCategoryContent {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;

}

.cardCategory {

    width: 28%;
    height: 350px;
    background: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, .1);
    border-radius: 30px;
    position: relative;
    gap: 30px;
    margin: 1em 2.9em;
    padding: 2.5em 2em 0 2em;

}

.cardCategory i {

    position: absolute;
    top: 2.5%;
    right: 3%;
    font-size: 1.2em;
    color: #151C27;
    

}

.cardCategoryTitle {

    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, .1);
    border-radius: 15px;
    

}

.cardCategoryTitle figure { width: 100%; margin: 0;}
.cardCategoryTitle img {object-fit: cover;object-position: center;}

.cardCategoryTitle p {

    position: absolute;
    top: 30px;
    left: 5%;
    margin: 0;

}

.cardCategoryTitle a { font-size: 1.3em; color: white;}

.imgCategory { width: 100%;}

.categoryActivity {

    width: 100%;
    height: 50px;
    display: flex;
    gap: 120px;
    color: #676767;
    font-weight: 500;
    margin-top: .5em;

}

.last_info_activity{

    width: 100%;
    font-weight: 700;
    font-size: 1em;
    color: #151C27;
    
}

.info_category {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.categoryTopic {

    width: 100%;
    height: 80px;
    color: #676767;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.title_info { font-size: .8em;}

.last_info{

    width: 90%;
    font-weight: 700;
    font-size: 1em;
    color: #151C27;

}

.info_last_topic{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    gap: 10px;
    

}

.title_last_topic { height: 20px;}

/***************************************************************** TOPICS **************************************************************************/
.cardTopicContent{ margin: 1em 0;}

.cardTopic {

    width: 100%;
    height: 160px;
    background: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, .1);
    border-radius: 30px;
    position: relative;
    gap: 30px;
    margin: 1em 0;

}

.cardTopicTitle {

    width: 96%;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, .1);
    border-radius: 15px;

}

.cardTopicTitle figure { width: 100%; margin: 0;}

.cardTopicTitle p {

    position: absolute;
    top: 30px;
    left: 5%;
    margin: 0;

}

.cardTopicTitle a { font-size: 1.3em; color: white;}

.addTopic2 {

    width: 100%;
    display: flex;
    margin-top: 1.5em;
    align-items: center;
    justify-content: space-between;

}

.cantainer-topic{ width: 100%;}

/***************************************************************** POST **************************************************************************/
.post_container{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5em 0;

}

.post_content{

    width: 70%;
    height: 800px;
    background: white;
    border-radius: 20px;
    display: flex;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, .1);
    padding: 1em 1em;

}

.post_description{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    padding: .5em 2em;

}

.post_category{

    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    color: #151C27;

}

.post_category p{ margin: 0;padding-left: .5em; font-weight: 600;}

.post_category i{ font-weight: 600; font-size: 1.2em;}


.cardContent{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

.card_post{

    width: 100%;
    height: 95%;
    background: linear-gradient(0deg, rgba(1, 26, 70, 1) 0%, rgba(10, 77, 193, 1) 100%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2.5em;
    
}

.cardTitle{

    width: 100%;
    height: 120px;
    font-size: 2em;
    color: white;

}

.cardTitle p{

    margin: 0;

}

.cardProfil{

    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
   
}

.cardProfil p{

   color: white;

}

.cardText{

    width: 100%;
    height: 200px;
    color: white;
    font-size: .9em;
    font-weight: 300;

}

.cardReaction{

    height: 30px;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    gap: 50px;
    font-size: .8em;
       
}

.cardInfo{

    width: 100%;
    height: 100px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;

}

.cardInfoContent{

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.cardInfoTitle{

    font-weight: 200;
    font-size: .7em;

}

.cardInfoResult{

    font-weight: 450;
    font-size: .9em;

}

.cardAvatar{

    height: 50px;
}

#modal-example8{

    height: 84%;
    width: 69.65%;
    justify-content: center;
    align-items: center;
    top: 11.2%;
    left: 14.95%;
    border-radius: 20px;
    background-color: #74d4fd45;
    overflow: hidden;
}

.modal-post{

    height: 800px;
    top: -7.1%;
    bottom: 10%;
    right: -29.3%;
    border-radius: 20px;
      
}

.modal-content{

    width: 100%;
    height: 100%;
    
}

.modal-comment {

    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.editor {

    width: 100%;
    height: 300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
     
}

.modal-submit {

    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    
}

.modal-button{

   width: 90%;
   height: 60px; 
   align-content: center;
   text-align: right;
   
}

.modal-button button{

    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    margin-left: 1.5em;

}

.btn-cancel{

    background: #D9D9D9;
    color: #494949;

}

.btn-cancel:hover{

    background: #151C27;
    color: white;
    cursor: pointer;
   

}

.btn-submit{

    background: #0A4DC1;
    color: white;

}

.btn-submit:hover{

    background: rgb(3, 25, 216);

    cursor: pointer;

}

.close-post{

    position: absolute;
    top: 1%; 
    right: 2%;
    color: #585858;

}

.close-post:hover{

    color: #151C27;


}

.modal-reply{

    height: 50px;
    max-height: 100px;
    width: 80%;
    justify-self: center;
    margin: 1.5em 0 1em 0;
        
}

.modalReplyTitle{
    
    display: flex;
    align-items: center;
    text-align: left;
    
    gap: 2%;
    
}

.modalReplyTitle i{
    
    align-content: center;
    text-align: center;
    font-size: 1.2em;
    color: #0A4DC1;
    width: 9%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.257);
    
}

.modalTitle{

    margin: 0;
    font-weight: 500;
    font-size: 1.5em;
    text-align: justify;
    width: 89%;
    height: 100%;
    color: #151C27;

}






